* {
    margin: 0;
    padding: 0;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* font-family: 'Space Mono', monospace;*/
body {
    font-family: 'Space Mono', monospace;
    color: white;
}

.wrapper {

    max-width: 100%;
    height: 100%;

    
}

header {
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    padding: 10px 25px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    transition: .5s;
}

nav li a:hover {
    text-decoration: underline;
    transition: .5s;
}


@media (max-width: 675px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav li a {
        padding: 20px 20px;
    }

}

/*-----------------------------------------------------*/
.header {
    background-color: #252525;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    /*font-size: 69px;*/
    font-size: 4rem;
}

.header button {
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    width: 250px;
}

.block-left {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    flex-direction: column;
}

.block-left>div {
    margin: 20px 0;
}

.block-right>img {
    max-width: 100%;
}

.fr-img>img {
    max-width: 100%;
}

@media (max-width:970px) {
    .header {


        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .block-left {

        justify-content: center;
        padding: 0 40px;
        flex-direction: row;
        justify-content: space-between;

    }

    h1 {
        font-size: 2rem;
    }
}

/*---------------------------------------------*/
.read-more {
    background-color: #2f2f2f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}

.read-more h2 {
    font-size: 63px;
}

.read-more p {
    font-size: 29px;
}

.read-more button {
    margin-top: 100px;
    margin-bottom: 0;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    width: 250px;
    transition: .5s;
}

.div-text {
    max-width: 510px;
}

.div-text>div {
    margin: 20px 0;

}

.div-img>img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width:970px) {
    .read-more {


        flex-direction: column;
        justify-content: space-between;
    }

    .div-text {

        justify-content: center;
        padding: 0 40px;
        flex-direction: row;
        justify-content: space-between;

    }

    .read-more h2 {
        font-size: 50px;
    }

    .read-more p {
        font-size: 23px;
    }
}

/*-------------------------------------------*/
.about-us {
    background-color: #252525;
    text-align: center;
    padding: 40px 0;
}

.about-us h2 {
    font-size: 63px;
}

.about-us p {
    font-size: 29px;
    max-width: 750px;
    margin: 0 auto;
}

.about-us>div,
h2 {
    margin: 30px 0;
}

.about-img>img {
    max-width: 100%;
}

@media (max-width:970px) {

    .about-us h2 {
        font-size: 50px;
    }

    .about-us p {
        font-size: 23px;
    }
}

/*-------------------------------------------*/
.contact {
    background-color: #2f2f2f;
    padding: 50px 0;
}

.contact h2 {
    text-align: center;
    font-size: 62px;
    margin-top: 0;
}

.forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 130px;
}

label {
    font-size: 29px;
}

.forms button {
    margin-top: 100px;
    margin-bottom: 0;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    max-width: 250px;
    transition: .5s;
}

.forms input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
}

.forms input:focus {
    border: none;
}

.forms form {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    padding: 65px;
    max-width: 500px;
    max-height: 510px;
}

.btn {
    display: flex;
    justify-content: center;
}

/*----------------------------------------------*/
.sensations {
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}
.sens {
visibility: visible;
}
.sensations h3 {
    font-size: 59px;
    max-width: 400px;
}

.new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:970px) {
    .sensations {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
   
    .sens {
        display: none;
        }
    .sensations h3 {
        font-size: 40px;
    }

}

/*----------------------------------------------*/

.filters {
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 100px;
}

.filters h2 {
    font-size: 62px;
}

.filters p {
    font-size: 29px;
    max-width: 367px;
}
@media (max-width:970px) {
    .filters {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filters h2 {
        font-size: 45px;
    }
    
    .filters p {
        font-size: 19px;
        
    }

}
/*----------------------------------------------*/

.app {
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 90px;
}

.app button {
    margin-top: 70px;
    margin-bottom: 0;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    width: 250px;
    margin-bottom: 70px;
    transition: .5s;
}

.app h2 {
    font-size: 64px;
}

.app p {
    font-size: 48px;
    max-width: 690px;
}
@media (max-width:970px) {
   
    .app h2 {
        font-size: 50px;
    }
    
    .app p {
        font-size: 30px;
        
    }
}
/*----------------------------------------------*/
.last-form {
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 180px 130px 110px;
}

.last-form h2 {
    font-size: 64px;
}

.last-form p {
    font-size: 29px;
}

.frm-text {
    font-size: 17px;
}

.forms2 {
    background-color: #2f2f2f;
    padding: 20px;
}

.forms2>form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.forms2 input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    width: 360px;
}

.forms2 button {
    margin-top: 100px;
    margin-bottom: 0;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    max-width: 240px;
    transition: .5s;

}
@media (max-width:970px) {
    .last-form h2 {
        font-size: 45px;
    }
    
    .last-form p {
        font-size: 20px;
    }
    
    .last-form{
        flex-direction: column;
    } 
}
/*--------------------------------------------------*/
footer {
    background-color: #2f2f2f;
    padding: 60px 130px;
    font-size: 27px;
}

footer ul li {
    list-style: none;
    padding: 5px 0;

}

footer li a {
    text-decoration: none;
    color: white;
    padding: 20px 20px;
}
footer li a:hover {
    text-decoration: underline;
}
.navigations {
    display: flex;
    flex-direction: row;
}

.navigations div {
    padding-right: 80px;
    padding-bottom: 200px;
}

.navigations div:nth-child(2) {
    padding-right: 200px;
}

.cop {
    display: flex;
    flex-direction: row;
}

.cop p {
    padding: 0 10px;
}

.last-logo {
    margin-bottom: 60px;
}

.cop-p {
    border-right: 2px solid white;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

button:hover {
    box-shadow: 0 0 5px gray;
    background-color: lightgray;
    transition: .5s;
}

img {
    max-width: 100%;
}
@media (max-width:970px) {
    footer {
        background-color: #2f2f2f;
        padding: 30px 70px;
        font-size: 20px;
    }
    .navigations {
        
        flex-direction: column;
    }
    .navigations div {
        padding-right: 40px;
        padding-bottom: 50px;
    }
    
    .navigations div:nth-child(2) {
        padding-right: 40px;
    }
    
}