*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    height: 100vh;
    width: 100vw;
    background: url('./img/background.png') no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    
}
.wrapper{
    height: 100vh;
    width: 100vw;
    background: url('./img/dote.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 40px;
}
nav ul li a{
   color: white;
   font-size: 40px;
   text-decoration: none;
}
nav ul li a:hover{
text-decoration: underline;
}
.navigation{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.navigation img{
    height: 150px;
    width: 150px;
}
.square img{
    height: 690px;
    width: 600px;
    position: relative;
    top: 16vh;
    left: 16vw;
}
.main{
    display: flex;
    justify-content: space-between;
}
.move{
    color: white;
    text-align: center;
    width: 40vw;
    padding-top: 50px;
}
.move h1{
font-size: 60px;
}
.move p{
    margin-top: 20px;
font-size: 30px;

width: 35vw;
}
button{
    border: 5px solid white;
    background:none;
    padding: 15px 25px;
    color: white;
    font-size: 60px;
    box-shadow: 0 0 3px 2px aqua ,  inset 0 0 3px 2px aqua;
    margin-top: 100px;transition: .5s;
}
.block{
    padding: 50px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
footer p {
    color: white;
    font-size: 30px;
}
footer a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}
footer img{
    height: 45px;
    width: 45px;
    margin: 0 10px;
}
button:hover{
    background-color: rgba(0, 255, 255, 0.185);
    transition: .5s;
}